@using Autoservisas.Controllers

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Autoservisas</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Autoservisas", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-left">
                    @if (Auth.GetRole() == (int)Auth.Roles.User)
                    {
                        <li>@Html.ActionLink("Simptomai", "Index", "Symptom")</li>
                        <li>@Html.ActionLink("Detalės", "Index", "Part")</li>
                        <li>@Html.ActionLink("Rankinis Detalių parinkimas", "ManualChooseIndex", "Part")</li>
                        <li>@Html.ActionLink("Pirkinių krepšelis", "Index", "Cart")</li>
                    }
                    @if (Auth.GetRole() == (int)Auth.Roles.Mechanic)
                    {
                        <li>@Html.ActionLink("Pasirinkti darbo valandas", "Index", "WorkHours")</li>
                        <li>@Html.ActionLink("Pirkinių krepšelis", "Index", "Cart")</li>
                    }
                    @if (Auth.GetRole() == (int)Auth.Roles.Administrator)
                    {

                    }
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    @if (Auth.GetRole() == (int)Auth.Roles.NotLoggedIn)
                    {
                        <li>@Html.ActionLink("Prisijungti", "Login", "Auth")</li>
                        <li>@Html.ActionLink("Registruotis", "Register", "Auth")</li>

                    }
                    @if (Auth.GetRole() != (int)Auth.Roles.NotLoggedIn)
                    {
                        <li>@Html.ActionLink("Atsijungti", "Logout", "Auth")</li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
