@model IEnumerable<Autoservisas.Models.WorkHours>

<div class="form-horizontal">
    <h4>@Html.ActionLink("Pridėti darbo laiką", "AddTime", "WorkHours")</h4>
</div>
<br />
<br />


<table class="table">
    <tr>
        <th>
            Nuo (Data)
        </th>
        <th>
            Iki (Data)
        </th>
        <th>
            Nuo (Laikas)
        </th>
        <th>
            Iki (Laikas)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.Raw(item.DateFrom.ToString("d"))
            </td>
            <td>
                @Html.Raw(item.DateTo.ToString("d"))
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeFrom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeTo)
            </td>
        </tr>
    }

</table>
